BOT_TOKEN=your_telegram_bot_token
TEST_TOKEN=
ADMINS_LIST=752455616

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dorm2
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

NOTIFICATION_HOUR=20
NOTIFICATION_MINUTE=0

DASHBOARD_PUBLIC_URL=https://localhost:8443
WEB_HOST=0.0.0.0
WEB_PORT=8443
WEB_SSL_CERTFILE=/certs/fullchain.pem
WEB_SSL_KEYFILE=/certs/privkey.pem
WEB_SSL_KEYFILE_PASSWORD=
WEB_FORCE_HTTPS=true
WEB_FORWARDED_ALLOW_IPS=*
